project_id = "replace-with-sandbox-project-id"
region     = "us-central1"
allow_health_check_ingress = false

subnets = {
  app = {
    cidr   = "10.42.0.0/24"
    region = "us-central1"
  }
  data = {
    cidr   = "10.42.1.0/24"
    region = "us-central1"
  }
}
